
//############################################################################################
//#                                    COLOR VARIABLES                                       #
//############################################################################################

$shadow: #15152020;
$darkshadow: #15152050;

$darkblue: #112D4E;
$blue: #3F72AF;
$mediumblue: #6096BA;
$lightblue: #DBE2EF;

$darkred: #C71F37;
$red: #EF233C;

$orange: #FBA834;
$yellow: #FFDD32;

$green: #63C132;
$deepgreen: #3fA34D;

$cream: #F7EFE6;
$lightgrey: #F7F4F0;

$white: #F9F7F7;

//############################################################################################
//#                                BASICS & COMMON ELEMENTS                                  #
//############################################################################################

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: calc(10px + 0.4rem);
}

@media (max-width: 768px) {
  * {
    font-size: calc(11px + 0.4rem);
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem $shadow;
}

html {
  position: relative;
  min-height: 100dvh;
  font-size: calc(7px + 0.4rem);
}

body {
  background-color: $lightgrey;
  font-size: 1.2rem;
}

footer {
  margin-bottom: 60px;

  .container {
    font-size: 1.1rem;

    a {
      font-size: 1.1rem;
    }
  }
}

.container:has(main) {
  min-height: 87dvh;
}

.container-space-between {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 3rem;
}

.abs-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.h-25rem {
  height: 25rem;
}

.bg-img {
  object-fit: cover;
  object-position: center top;
  width: 100%;
  height: 100%;
}

.bg-hue-rotate {
  filter: hue-rotate(330deg);
}

.bg-blue {
  background-color: $mediumblue;
}

.bg-yellow {
  background-color: $yellow;
}

.display-flex {
  display: flex;
}

.relative {
  position: relative;
}

.abs {
  position: absolute;
}

.hidden {
  display: none;
}

.full {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.small-shadow {
  box-shadow: $shadow 0 .2rem 1.6rem;
}

.big-shadow {
  box-shadow: $shadow 0 .5rem 2.2rem;
}

.huge-shadow {
  box-shadow: $darkshadow 0 .5rem 2.2rem;
}

.border-radius {
  border-radius: .7rem;
}

.navbar-right {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}

.navbar-brand {
  font-size: 1.8rem;
}

.nav-link {
  font-size: 1.3rem;
}

.admin-nav-link {
  width: 1.4rem;
  aspect-ratio: 1;
  cursor: pointer;

  .icon {
    object-fit: contain;
    object-position: center;
    width: 100%;
    height: 100%;
    fill: $darkblue;
    transition: all 200ms ease-in 50ms;
  }
  &:hover .icon {
    fill: $blue;
  }
  .stroke-icon {
    object-fit: contain;
    object-position: center;
    width: 100%;
    height: 100%;

    path {
      stroke: $darkblue;
      stroke-width: 3.2;
      stroke-linecap: round;
      stroke-linejoin: round;
    }
  }
  &:hover .stroke-icon path{
    stroke: $blue;
  }
}

.h-separator {
  width: 90%;
  height: 2px;
  border-radius: 1px;
  background-color: transparentize($darkblue, 0.6);
}

.v-separator {
  height: 90%;
  width: 2px;
  border-radius: 1px;
  background-color: transparentize($darkblue, 0.6);
}

button,
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .5rem;
  padding: 1rem 2rem;
  appearance: none;
  outline: none;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 550;
  cursor: pointer;
  transition: all 200ms ease-in-out 50ms;
  height: fit-content;
  width: max-content;

  &.blue {
    background-color: $blue;
    color: $white;
    border: none;
  }
  &:hover:not(.disabled, &[disabled]) {
    background-color: $mediumblue;
    color: $darkblue;
  }
  &.green {
    background-color: $green;
    color: $darkblue;
    border: none;

    &:hover:not(.disabled, &[disabled]) {
      background-color: $deepgreen;
      color: $darkblue;
    }
  }
  &.yellow {
    background-color: $yellow;
    color: $darkblue;
    border: none;

    &:hover:not(.disabled, &[disabled]) {
      background-color: $orange;
      color: $darkblue;
    }
  }
  &.white {
    border: 2px solid $blue;
    background-color: $white;
    color: $blue;

    &:hover:not(.disabled, &[disabled]) {
      background-color: $blue;
      color: $white;
    }
  }
  &.red {
    background-color: $red;
    color: $white;
    border: none;

    &:hover:not(.disabled, &[disabled]) {
      background-color: $darkred;
      color: $white;
    }
  }
  &.disabled, &[disabled] {
    background-color: $lightblue;
    color: $darkblue;
    border: 2px solid $blue;
    cursor: not-allowed;
  }
  &.big-btn {
    border-radius: .7rem;
    padding: 1.7rem 3.4rem;
    font-size: 2rem;
  }
}

.alert {
  display: flex;
  justify-content: center;
  gap: .5ch;
  align-self: center;
  padding: 1.5rem 3rem;
  border: $orange 2px solid;
  border-radius: .5rem;
  background-color: $cream;
  color: $darkblue;
  font-size: 1.35rem;

  span {
    font-size: 1.35rem;
    color: $darkblue;
  }
}

input:not([type=checkbox]):not([type=radio]),
.search-input {
  flex: 1;
  appearance: none;
  border: $mediumblue 2px solid;
  background-color: $white;
  outline: none;
  color: $darkblue;
  font-weight: 600;
  font-size: 1.2rem;
  min-height: 3.5rem;
  height: 100%;
  border-radius: .5rem;
  padding: 0 2rem;

  &:focus{
    outline: none;
    appearance: none;
    border: $orange 2px solid;
    background-color: $white;
  }
}

//############################################################################################
//#                                     PRIVACY POLICY                                       #
//############################################################################################

.policy-ctn {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 3rem 0;
  padding: 4rem;
  background-color: $white;
  border-radius: .7rem;
  font-size: 1.3rem;

  .date {
    text-align: right;
    font-style: italic;
    font-size: 1.3rem;
    padding-bottom: 3rem;
  }
  h2 {
    font-size: 1.75rem;
    font-weight: bold;
  }
  h3 {
    font-size: 1.6rem;
    font-weight: bold;
  }
  h4 {
    font-size: 1.45rem;
    font-weight: bold;
  }
  p, a, li {
    font-size: 1.3rem;
  }
}

//############################################################################################
//#                                    SEARCH CONTACTS                                       #
//############################################################################################

.search-form {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 3rem 0;

  .search-bar {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .search-bar {
    flex-direction: column;
  }
}
.user-list-ctn,
.search-results-ctn {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem;

  .user-results-header,
  .search-results-header {
    width: 70vw;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;

    .results-count {
      font-size: 1.5rem;
      color: transparentize($darkblue, 0.6);
    }
  }
}
.user-list,
.search-results-list {
  width: 70vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1rem;
}
.contact-card {
  width: clamp(350px, calc(8vw + 15rem), 45rem);
}
.user-card,
.contact-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;
  border-radius: .7rem;
  gap: 2rem;
  background-color: $white;

  .top-card {
    display: flex;
    flex-direction: column;
    gap: 1.7rem;

    .contact-name {
      min-height: 9rem;
      text-align: center;
      font-size: 2rem;
      font-weight: 600;
    }
  }
  .bottom-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .7rem;

    .contact-actions {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: .7rem 0;
    }
  }
}
.user-admin-actions,
.contact-admin-actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  padding: 0 0 .7rem 0;

  .admin-action-ctn {
    width: 1.5rem;
    aspect-ratio: 1;

    .icon {
      object-fit: contain;
      object-position: center;
      width: 100%;
      height: 100%;

      &.red {
        fill: $red;
      }
      &.green {
        fill: $green;
      }
    }
  }
}
.contact-element {
  display: flex;
  gap: 1.5rem;

  .icon {
    width: 1.7rem;
    fill: $orange;
  }
  .contact-email-text {
    font-size: 1.2rem;
    font-weight: 600;
  }
  .contact-phone-text {
    font-size: 1.2rem;
    font-weight: 600;
  }
  .contact-country-text {
    font-size: 1.2rem;
    font-weight: 600;
  }
  .contact-address-text {
    display: flex;
    flex-direction: column;
    gap: .4rem;

    .street {
      font-size: 1.2rem;
      font-weight: 600;
    }
    .zipcode-city {
      font-size: 1.2rem;
      font-weight: 600;
    }
  }
}

.contact-status {
  display: flex;
  gap: 1rem;
  padding: .4rem .8rem;
  border-radius: .7rem;
  width: fit-content;

  &:has(.open) {
    background-color: transparentize($deepgreen, 0.6);
    .icon {
      fill: $darkblue;
    }
  }
  &:has(.closed) {
    background-color: transparentize($darkred, 0.6);
    .icon {
      fill: $darkblue;
    }
  }
  .icon {
    width: 1.7rem;
  }
  .contact-status-text {
    font-size: 1.2rem;

    &.open {
      color: $darkblue;
    }
    &.closed {
      color: $darkblue;
    }
  }
}

//############################################################################################
//#                                     CONTACT PAGE                                         #
//############################################################################################

.delete-page-ctn,
.contact-page-ctn {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 3rem;

  .contact-info {
    width: 38%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2rem;
    gap: 1.5rem;
    border-radius: .7rem;
    background-color: $white;
  }
  .contact-working-hours {
    width: 42%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 2rem 2rem 4rem;
    gap: 1.5rem;
    border-radius: .7rem;
    background-color: $white;

    .head-line {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .title-text {
        flex: 1;
        font-size: 1.2rem;
        font-weight: 600;
        color: $darkblue;
      }
    }
    .day-line {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .text-line {
        flex: 1;
        font-size: 1.2rem;
        color: $darkblue;
      }
      .closed-line {
        flex: 2;
        font-size: 1.2rem;
        color: $darkred;
      }
    }
  }
}

//############################################################################################
//#                                    NEW/EDIT CONTACT                                      #
//############################################################################################

.contact-form-ctn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 3rem;
  border-radius: .7rem;
  background-color: $white;

  @media screen and (max-width: 1280px) {
    flex-direction: column;
  }
  .contact-form-working-hours-ctn {
    flex: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    padding: 1.5rem;

    .working-hours-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;

      .header-form-container,
      .working-hour {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1.5rem;

        label,
        .header-label {
          font-weight: bold;
          font-size: 1.4rem;
        }
        .header-label,
        label, input {
          flex: 1;
        }
      }
    }
  }
}
.user-form,
.contact-form-generic-ctn {
  flex: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 1.5rem;
}
.user-form {
  background-color: $white;
  border-radius: .7rem;
  padding: 5rem;
}
.form-line {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  .user-form-label,
  .contact-form-label {
    min-width: 10ch;
    font-weight: bold;
    font-size: 1.4rem;
  }
}
.user-form-buttons,
.contact-form-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding: 1rem 0 3rem 0;
}


//############################################################################################
//#                                         LOGIN                                            #
//############################################################################################


.login-form {
  width: clamp(250px, 40%, 600px);
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

//############################################################################################
//#                                    DASHBOARD PAGE                                        #
//############################################################################################
.dashboard-ctn {
  margin: 2rem auto;
  width: 80%;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 768px) {
    width: 100%;
    padding: 4rem;
    flex-direction: column;
    gap: 5rem;
  }
  .dashboard-actions-ctn {
    width: clamp(250px, 45%, 600px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
  }
}
.user-info-ctn,
.dashboard-info-ctn {
   display: flex;
   align-items: center;
   gap: 2.5rem;
   padding: 2rem 4rem;
   border-radius: .7rem;
   background-color: $white;

   .info,
   .labels {
     display: flex;
     flex-direction: column;
     gap: 2rem;

     .label-text,
     .info-text {
       font-size: 1.2rem;
       color: $darkblue;
     }
     .label-text {
       font-weight: 600;
     }
   }
 }

//############################################################################################
//#                                   USER MANAGEMENT                                        #
//############################################################################################

.user-card {
  width: clamp(350px, calc(15vw + 20rem), 60rem);
}