
//############################################################################################
//#                                    COLOR VARIABLES                                       #
//############################################################################################

$shadow: #15152020;
$darkshadow: #15152050;

$darkblue: #112D4E;
$blue: #3F72AF;
$mediumblue: #6096BA;
$lightblue: #DBE2EF;

$darkred: #C71F37;
$red: #EF233C;

$orange: #FBA834;
$yellow: #FFDD32;

$green: #63C132;
$deepgreen: #3fA34D;

$cream: #F7EFE6;
$lightgrey: #F7F4F0;

$white: #F9F7F7;

//############################################################################################
//#                                BASICS & COMMON ELEMENTS                                  #
//############################################################################################

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: calc(7px + .4rem);
}

@media (max-width: 768px) {
  * {
    font-size: calc(8px + .4rem);
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem $shadow;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: $lightgrey;
}

.bg-blue {
  background-color: $mediumblue;
}

.bg-yellow {
  background-color: $yellow;
}

.relative {
  position: relative;
}

.abs {
  position: absolute;
}

.hidden {
  display: none;
}

.full {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.small-shadow {
  box-shadow: $shadow 0 .2rem 1.6rem;
}

.big-shadow {
  box-shadow: $shadow 0 .5rem 2.2rem;
}

.huge-shadow {
  box-shadow: $darkshadow 0 .5rem 2.2rem;
}

.separator {
  width: 90%;
  height: 2px;
  border-radius: 1px;
  background-color: transparentize($darkblue, 0.6);
}

button,
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .5rem;
  padding: 1rem 2rem;
  appearance: none;
  outline: none;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 550;
  cursor: pointer;
  transition: all 200ms ease-in-out 50ms;
  height: fit-content;
  width: max-content;

  &.blue {
    background-color: $blue;
    color: $white;
    border: none;
  }
  &:hover:not(.disabled, &[disabled]) {
    background-color: $mediumblue;
    color: $darkblue;
  }
  &.green {
    background-color: $green;
    color: $darkblue;
    border: none;

    &:hover:not(.disabled, &[disabled]) {
      background-color: $deepgreen;
      color: $darkblue;
    }
  }
  &.yellow {
    background-color: $yellow;
    color: $darkblue;
    border: none;

    &:hover:not(.disabled, &[disabled]) {
      background-color: $orange;
      color: $darkblue;
    }
  }
  &.white {
    border: 2px solid $blue;
    background-color: $white;
    color: $blue;

    &:hover:not(.disabled, &[disabled]) {
      background-color: $blue;
      color: $white;
    }
  }
  &.red {
    background-color: $red;
    color: $white;

    &:hover:not(.disabled, &[disabled]) {
      background-color: $darkred;
      color: $white;
    }
  }
  &.disabled, &[disabled] {
    background-color: $lightblue;
    color: $darkblue;
    border: 2px solid $blue;
    cursor: not-allowed;
  }
  &.big-btn {
    border-radius: .7rem;
    padding: 1.7rem 3.4rem;
    font-size: 2rem;
  }
}

//############################################################################################
//#                                    SEARCH CONTACTS                                       #
//############################################################################################

.search-form {
  display: flex;
  padding: 3rem 0;

  .search-bar {
    width: 90vw;
    display: flex;
    align-items: center;
    gap: 2rem;

    .search-input {
      flex: 1;
      appearance: none;
      border: $mediumblue 2px solid;
      background: none;
      outline: none;
      color: $darkblue;
      font-weight: 600;
      font-size: 1.2rem;
      height: 100%;
      border-radius: .5rem;
      padding: 0 2rem;

      &:focus{
        outline: $orange 2px solid;
        appearance: none;
        border: none;
        background: none;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .search-bar {
    flex-direction: column;
  }
}

.search-results-ctn {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem;

  .search-results-header {
    width: 70vw;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;

    .results-count {
      font-size: 1.5rem;
      color: transparentize($darkblue, 0.6);
    }
  }
  .search-results-list {
    width: 70vw;
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;

    .contact-card {
      width: clamp(250px, calc(8vw + 15rem), 45rem);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 1.5rem;
      border-radius: .7rem;
      gap: 2rem;
      background-color: $white;

      .top-card {
        display: flex;
        flex-direction: column;
        gap: 1.7rem;

        .contact-name {
          min-height: 9rem;
          text-align: center;
          font-size: 2rem;
          font-weight: 600;
        }
        .contact-admin-actions {
          width: 100%;
          display: flex;
          justify-content: space-between;
          gap: 1.5rem;
          padding: 0 0 .7rem 0;

          .admin-action-ctn {
            width: 1.5rem;
            aspect-ratio: 1;

            .icon {
              object-fit: contain;
              object-position: center;
              width: 100%;
              height: 100%;

              &.red {
                fill: $red;
              }
              &.green {
                fill: $green;
              }
            }
          }
        }
        .contact-element {
          display: flex;
          gap: 1.5rem;

          .icon {
            width: 1.7rem;
            fill: $orange;
          }
          .contact-email-text {
            font-size: 1.2rem;
            font-weight: 600;
          }
          .contact-phone-text {
            font-size: 1.2rem;
            font-weight: 600;
          }
          .contact-country-text {
            font-size: 1.2rem;
            font-weight: 600;
          }
          .contact-address-text {
            display: flex;
            flex-direction: column;
            gap: .4rem;

            .street {
              font-size: 1.2rem;
              font-weight: 600;
            }
            .zipcode-city {
              font-size: 1.2rem;
              font-weight: 600;
            }
          }
        }
      }
      .bottom-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .7rem;

        .contact-actions {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: .7rem 0;

          .contact-status {
            display: flex;
            gap: 1rem;
            padding: .4rem .8rem;
            border-radius: .7rem;

            &:has(.open) {
                background-color: transparentize($deepgreen, 0.6);
                .icon {
                  fill: $darkblue;
                }
            }
            &:has(.closed) {
                background-color: transparentize($darkred, 0.6);
              .icon {
                fill: $darkblue;
              }
            }
            .icon {
              width: 1.7rem;
            }
            .contact-status-text {
              font-size: 1.2rem;

              &.open {
                color: $darkblue;
              }
              &.closed {
                color: $darkblue;
              }
            }
          }
        }
      }
    }
  }
}

