@model IEnumerable<YellowDirectory.Models.UserViewModel>

@{
    ViewBag.Title = "Manage Users";
    Layout = "_Layout";
}

<h2 class="align-self-center text-center p-5">Manage Users</h2>

@if (TempData["Message"] is not null)
{
<div class="alert">@TempData["Message"]</div>
}
@if (TempData["Alert"] is not null)
{
<div class="alert">@TempData["Alert"]</div>
}

<div class="user-list-ctn">

    @* Result number *@
    <div class="user-results-header">
        <div class="results-count">Showing @Model.Count() results</div>
        <a asp-controller="Account" asp-action="Index" class="button red small-shadow">Return</a>
    </div>

    <div class="user-list">
        @foreach (var user in Model)
        {
            @await Html.PartialAsync("_User", user)
            ;
        }
    </div>
</div>
