@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<h2 class="align-self-center text-center p-5">Login</h2>

<form class="login-form" asp-controller="Account" asp-action="Login" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group w-100">
        <label hidden="hidden" asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" placeholder="Email..." />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group w-100">
        <label hidden="hidden" asp-for="Password" class="control-label"></label>
        <input asp-for="Password" class="form-control" placeholder="Password..." />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group w-100">
        <button type="submit" class="button w-100 yellow small-shadow">Login</button>
    </div>
</form>