@model Game

@if (Model.GetState() == Game.State.Tie)
{
    <div>
        <div class="endgame-msg tie">You tied!</div>
    </div>
}
else if (Model.GetState() == Game.State.Win)
{
    <div>
        <div class="endgame-msg win">@Model.PreviousPlayer().Name won!</div>
    </div>
}