html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.z-index-1000 {
  z-index: 1000;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

a.full-link {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  cursor: pointer;
}

a.full-link:hover {
  border-radius: 2px;
  text-decoration: none;
  background-color: #18183277;
}

.separator {
  width: 100%;
  height: 3px;
  border-radius: 2px;
  background-color: #181832;
}

.main-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem;
}

.list-contacts {
  width: 70vw;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.title-tags {
  width: 100%;
  display: flex;
  gap: 1rem;
  padding: 0 1rem;
}

.title-tag {

}

.list-ctn {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.list-row {
  width: 100%;
  display: flex;
  gap: 1rem;
  padding: 1.5rem 0;
}

.list-cell {
  display: flex;
  gap: 1rem;
}
