@model CreateContactViewModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Create Contact";
}

<h2>Create New Contact</h2>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Phone" class="control-label"></label>
        <input asp-for="Phone" class="form-control" />
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Country" class="control-label"></label>
        <input asp-for="Country" class="form-control" />
        <span asp-validation-for="Country" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="City" class="control-label"></label>
        <input asp-for="City" class="form-control" />
        <span asp-validation-for="City" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ZipCode" class="control-label"></label>
        <input asp-for="ZipCode" class="form-control" />
        <span asp-validation-for="ZipCode" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Street" class="control-label"></label>
        <input asp-for="Street" class="form-control" />
        <span asp-validation-for="Street" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Working Hours</label>
        <div class="working-hours-container">
            @for (int i = 0; i < Model.WorkingHours.Count; i++)
            {
            <div class="working-hour">
                <label>@Model.WorkingHours[i].Day:</label>
                <input type="text" hidden="hidden" name="@Model.WorkingHours[i].Day" value="@i" />

                <label>Start Time:</label>
                <input asp-for="Model.WorkingHours[@i].StartTime" type="time" />

                <label>End Time:</label>
                <input asp-for="Model.WorkingHours[@i].EndTime" type="time" />
            </div>
            }
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>