@* Start.cshtml *@
<div class="container text-center mt-5">
    <h1>Bienvenue au Quiz</h1>
    <form asp-action="Start" method="post">
        <input type="text" name="userName" placeholder="Entrez votre nom" required class="form-control mb-3">
        <button type="submit" class="btn btn-primary">Commencer</button>
    </form>
</div>
