<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QuizApp</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <h1>Quiz Application</h1>
        <!-- Ajoutez ici une barre de navigation si nécessaire -->
    </header>

    <div class="container">
        @RenderBody()
    </div>

    <footer>
        <p>&copy; 2023 - QuizApp</p>
    </footer>
    <script src="~/js/site.js"></script>
</body>
</html>
