@model ApplicationUser

@{
    ViewBag.Title = "Dashboard";
    Layout = "_Layout";
}

<h2>Dashboard</h2>

@if (ViewData["Message"] != null)
{
    <div class="alert">@ViewData["Message"]</div>
}
@if (ViewData["Alert"] != null)
{
    <div class="alert">@ViewData["Alert"]</div>
}

<div class="user-actions-ctn">
    <span class="text-center">Welcome @Model.FirstName @Model.LastName!</span>
    <a asp-controller="Account" asp-action="ListUsers">Manage Users</a>
    <a asp-controller="CreateContact" asp-action="Create">New User</a>
    <form asp-action="Logout">
        <button type="submit">Logout</button>
    </form>
</div>